/* rgb(252, 127, 47) */

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #1d191f
}
::-webkit-scrollbar-thumb {
  background: rgb(252, 127, 47) ;
  border-radius: 15px
}

:root {
  scrollbar-color: rgb(252, 127, 47)  #1D191F !important;
  scrollbar-width: thin !important;
}


.salir{
  cursor: pointer;
}

.salir i{
 color: #b11c1c
}

.salir:hover i{
 color: #d32424
}

body{
  overflow-x: hidden;
}
 
html{
  scroll-behavior: smooth;
}

.admin-hotel{
  line-height: 40px;
}
.hotel{
  line-height: 24px;
}

.btn-success{
  background-color: rgb(252, 127, 47) !important;
  border-color: rgb(252, 127, 47) !important
}
.btn-success.focus, .btn-success:focus{
  box-shadow: 0 0 0 0.2rem rgba(252,127,47,.5);
}

.border-succeess{
  border-color: rgb(252, 127, 47) !important
}

.fotos{
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: contain;
  width: 100vw;
  height: 60vh;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

