@media (min-width: 320px){
    .admin-hotel{
        display: flex;
        flex-direction: column;
    }
    



    .contenido{
        background-color: white;
        height: 70vh;
        width: 100%;
        font-family: 'Rubik', sans-serif;
    }

    .grupo-botones{
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 20px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .boton-registro{
        border-radius: 0 !important;
        width: 50vw;
    }
    .boton-habitaciones{
        border-radius: 0 !important;
        width: 50vw;
        transition: all 100s;
    }

    .boton-habitaciones:disabled{
        opacity: .85 !important;
    }
    .boton-registro:disabled{
        opacity: .85 !important;
    }
}


@media (min-width: 480px){

}

@media (min-width: 720px){
  
    .admin-hotel{
        display: flex;
        flex-direction: row;
    }
    
    .contenido{
        height: 100vh;
        padding: 10px;
        padding-left: 215px;
    }

}




@media (min-width: 1024px){
    .contenido{
        padding-left: 265px;
        height: 100%;
   
    }
    
}

@media (min-width: 1200px){
    .contenido{
        background-color: #eeeeee;
   
    }
    
}


