@media (min-width: 320px){
    .hotel-introduccion{
        background-color: #3e3f3a;
        padding: 15px;
        font-size: medium;
        color: white;
    }

    .hotel-introduccion p{
        text-align: justify;
    }

    .reservar-boton{
        display: flex;
        justify-content: flex-end;
    }
}







@media (min-width: 480px){

}








@media (min-width: 768px){


    .hotel-introduccion{
        background-color: #3e3f3a;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .informacion-hotel{
        text-align: justify;
        font-size: medium;
        color: white;
        padding: 20px;
    }

    .reservar-boton{
        display: flex;
        justify-content: flex-end;
        height: 40px;
        width: 300px;
        margin-top: 5em;
        padding-right: 10px;
    }




}
@media (min-width: 1024px){


    .hotel-introduccion{
        background-color: #3e3f3a;
        padding-top: 10px;
        padding-left: 10%;
        padding-right: 10%;
    }

}

@media (min-width: 1680px){

}